body {
    color: #2d3c49;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-family: "Lato", sans-serif;
    color: #7d97ad;
}

h2 {
    font-family: "Lato", sans-serif;
    color:#7d97ad;
}

h3 {
    text-align:center;
}

h4{
    font-size: 22px;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #7d97ad;
    background-color: #7d97ad;
    height: 3px;
}

img {
  width: 100%;
}

a {
    word-break: break-word;
}

p{
    text-align:center;
}

img {
    display: block;
    margin: 0 auto;
}

/*This keeps the logo at a nice size all the time except in extreme cases (<200px)
At that point the text overlaps the logo. How do you make it such that the text
is displayed below the logo? Bootstrap's sm col looks like a solution but the
break point is around 500ish pixels not 200. */
.logo {
    height: 100px;
    width: 100px;
    min-width:100px;
}

@media screen and (max-width: 800px)
{
    .feature-img {
        max-width: 300px;
    }
}

@media screen and (max-width: 350px)
{
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    .feature-img {
        max-width: 50%;
    }
}

[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
  color: #3d85c6;
}
footer {
    margin-bottom: 5vh ;
}
